/* .navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover  */
/* .navbar {
  background-color: rgba(255, 255, 255, 0.6);
} */

.navbar .navbar-brand:hover {
  color: #4954ef;
}

.pagination a:hover,
.pagination .current {
  color: #fff;
}
