body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', Segoe UI Symbol, 'Noto Color Emoji';
  color: #2c3e50;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  @apply font-semibold;
}

a:active,
a:link,
a:focus,
a:visited {
  --tw-text-opacity: 1;
  color: rgba(44, 62, 80, var(--tw-text-opacity));
}

.navbar {
  @apply fixed top-0 right-0 z-30 px-4 py-3 h-14 w-screen  bg-bg-light bg-opacity-60;
  @apply dark:bg-bg-dark dark:bg-opacity-60;
  @apply md:px-8;
  /* 不生效 */
  @apply backdrop-saturate-150 backdrop-blur-xl;
  backdrop-filter: saturate(180%) blur(20px);

  .site-name {
    font-weight: 600;
  }

  .nav-item {
    .nav-link {
      color: #2c3e50;
    }
  }
}

#app .theme-container .page.blog {
  padding-top: 0;
  background-color: #fff;
}

#app #main-content {
  padding-top: 3.75rem;
}

.blog-info-wrapper {
  @apply sticky top-20 mb-8 p-6 rounded shadow-light;
  @apply md:ml-4;
  @apply hover:shadow-light-heavier dark:hover:shadow-dark-heavier;
  flex: 0 0 300px;
}

div[class*='language-'] .copy-code-button {
  background-color: #4954e6;
}
