.main-inner.index.posts-expand

  margin-top 2rem

  .post-block
    padding 1.5rem
    margin-bottom 2rem
    border-radius 0.25rem
    box-shadow 0 1px 8px 0 rgba(0, 0, 0, 0.1)
    margin-top 0
    padding-top 1rem

    &:hover
      box-shadow 0 2px 16px 0 rgba(0, 0, 0, 0.2)
    
    .post-title
      font-weight bold
      font-size 2em

code
  background rgb(243, 243, 243)
  color rgb(68, 68, 68)